<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>assets</key>
            <array>
                <dict>
                    <key>kind</key>
                    <string>software-package</string>
                    <key>url</key>
                    <string>https://qdct01.baidupcs.com/file/433b3e0d8f499d6319e129d8d0c6eb82?bkt=p3-0000ea32726d0bb861f18eee2f5a47dcbb3a&fid=3543976347-250528-507724320610105&time=1556273072&sign=FDTAXGERLQBHSKfW-DCb740ccc5511e5e8fedcff06b081203-qBfLcX3oCDdevj%2FsAtr8Bzhd%2FOE%3D&to=90&size=32793688&sta_dx=32793688&sta_cs=1&sta_ft=ipa&sta_ct=0&sta_mt=0&fm2=MH%2CQingdao%2CAnywhere%2C%2Cguangdong%2Cct&ctime=1556272966&mtime=1556272966&resv0=cdnback&resv1=0&vuk=3543976347&iv=0&htype=&newver=1&newfm=1&secfm=1&flow_ver=3&pkey=0000ea32726d0bb861f18eee2f5a47dcbb3a&sl=76480590&expires=8h&rt=pr&r=801690043&mlogid=2684642391658478605&vbdid=2489861389&fin=xjzb0423-succeed-succeed.ipa&fn=xjzb0423-succeed-succeed.ipa&rtype=1&dp-logid=2684642391658478605&dp-callid=0.1.1&hps=1&tsl=80&csl=80&csign=eS553PwekJksKTUTQkiyPJvfsDc%3D&so=0&ut=6&uter=4&serv=0&uc=1694538685&ti=39965399e74cce8433a6241ebd7243f9dbad3e4ade486e9d&by=themis</string>
                </dict>
            </array>
            <key>metadata</key>
            <dict>
                <key>bundle-identifier</key>
                <string>com.box.age18</string>
                <key>bundle-version</key>
                <string>1.0</string>
                <key>kind</key>
                <string>software</string>
                <key>title</key>
                <string>香蕉直播</string>
            </dict>
        </dict>
    </array>
</dict>
</plist>
